<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    {% include 'navbar.html' %}
    <center><h1>Recipe Login Page</h1>
    <img src="https://www.lifewire.com/thmb/Qq5mehe6mf4gFWdNNTMXHp9yH6Y=/5599x5149/filters:fill(auto,1)/happy-tomato-cartoon-mascot-character-waving-637302428-5a5ff5e2eb4d520037ca16c5.jpg" width="100" height="100">
    <form action="{{url_for('index')}}" method="post">
    <label>Username</label>
    <input type="text" name="username" id="username" required><br>
    <label>Password</label>
    <input type="password" name="password" id="password" required><br>
    <!-- Old Button 
    <input type="submit" value="Login">-->
    <button class="button-75" button type="submit" value="Login">Login</button>
    </form></center>  
    {% endblock %}
</body>
</html>

