<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<center><body>
    {% extends 'base.html' %}
    {% block content %}
    {% include 'navbar.html' %} 
    Password Change Page
    <form>
        <div>
            <label>Current Password</label>
            <input type =text name="password" required="1">
        </div>
        <div>
            <label>New Password</label>
            <input type =text name="newpassword" required="1">
        </div>
        <div>
            <label>Confirm New Password</label>
            <input type =text name="newpassword" required="1">
        </div>
        <button>Submit</button>
    </form>
    {% endblock %}
</body></center>
</html>